__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.db
*.sqlite3
*.log
logs/*.log
instance/
.webassets-cache
dist/
build/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.idea/
.DS_Store
*.swp
docker/data/
