{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block content %}
  <!-- TODO: Stats cards (total_users, today_revenue, active_sessions), charts placeholder -->
{% endblock %}
{% block extra_js %}
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
{% endblock %}
